Домашнее задание 6. Задача 1
скачайте с сайта grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0

In [2]:
import pandas as pd

In [6]:
dfra1 = pd.read_csv('ratings.csv', sep = '::', names=['userID','movieID','rating','date'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [7]:
fives = dfra1[dfra1['rating'] == 5]
fives.filter(items = ['movieID','rating']).groupby('movieID').aggregate(sum).sort_values('rating', ascending=False).head(1)

         rating
movieID
2858       9815

Домашнее задание 6. Задача 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики категорий 4,12,21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [55]:
dfra2 = pd.read_csv('power.csv')

baltic_states = dfra2[ (dfra2['country']=='Lithuania') | (dfra2['country']=='Latvia')| (dfra2['country']=='Estonia') ]

certain_category = dfra2[ (dfra2['category']== 4) | (dfra2['category']== 12)| (dfra2['category']== 21) ]

certain_date = dfra2[ (dfra2['year']>= 2005) & (dfra2['year']<= 2010)]

certain_qua = dfra2[ (dfra2['quantity']>= 0)]

certain_data = dfra2[ ((dfra2['country']=='Lithuania') | (dfra2['country']=='Latvia')| (dfra2['country']=='Estonia')) \
                     & ((dfra2['category']== 4)| (dfra2['category']== 12)| (dfra2['category']== 21)) \
                     & ((dfra2['year']>= 2005) & (dfra2['year']<= 2010)) & (dfra2['quantity']>= 0)]

the_answer = certain_data.filter(items = ['quantity']).sum()

the_answer

quantity    240580.0
dtype: float64

Домашнее задание 6. Задача 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц : 
fortrader.org/quotes
finanz.ru/valyuty/v-realnom-vremeni

In [52]:
dfra3 = pd.read_html('https://ru.wikipedia.org/wiki/%D0%9E%D1%82%D0%BD%D0%BE%D1%88%D0%B5%D0%BD%D0%B8%D0%B5_\
(%D1%80%D0%B5%D0%BB%D1%8F%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C)')
dfra3

[         R
    Фамилия Дисциплина Оценка
 0   Иванов     Физика      4
 1   Иванов      Химия      3
 2   Петров      Химия      5
 3  Сидоров     Физика      5
 4  Сидоров      Химия      4,
   Базы данных                                      Базы данных.1
 0   Концепции  Модель данных Реляционная модель алгебра Норма...
 1     Объекты  Отношение (таблица) Представление Хранимая про...
 2       Ключи  Потенциальный Первичный Внешний Естественный С...
 3         SQL  SELECT INSERT UPDATE MERGE DELETE TRUNCATE JOI...
 4        СУБД  IMS DB2 Informix Oracle Database Microsoft SQL...
 5  Компоненты  Язык запросов Оптимизатор запросов План выполн...]

In [51]:
dfra4 = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',encoding='utf-8')
dfra4

URLError: <urlopen error [WinError 10013] Сделана попытка доступа к сокету методом, запрещенным правами доступа>

In [54]:
dfra5 = pd.read_html('https://www.fortrader.org/quotes')
dfra5

[                               Type    Last   Chg.  Chg.%  Time
 0  Нефть (BRENT) Курс нефти сегодня  63.060 -0.340 -0.540   NaN
 1   Нефть (WTI) Цены на нефть (WTI)  58.040 -0.360 -0.620   NaN
 2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
 3                   Газ Цена на газ   2.558  0.005  0.196   NaN,
                                     Type          Last      Chg.   Chg.%  Time
 0                      ВТБ Акции ОАО ВТБ       0.04289  +0.00081  1.9249   NaN
 1                 Газпром Акции газпрома     228.91000     -1.11 -0.4800   NaN
 2                    Лукоил Акции Лукойл    5377.50000     -49.5 -0.9000   NaN
 3                Роснефть Акции Роснефти     425.85000     -3.15 -0.7300   NaN
 4               Сбербанк Акции Сбербанка     230.52000     +1.14  0.5000   NaN
 5   Сургутнефтегаз Акции Сургутнефтегаза      35.31000    -0.120 -0.3390   NaN
 6              Норникель Акции Норникель   16188.00000      -148 -1.0000   NaN
 7               Аэрофлот Акции Аерофлота     102.75000     +5.94  6.1400   NaN
 8            Северсталь Акции Северсталь     955.40000      +1.2  0.1000   NaN
 9            Транснефть Акции транснефти  151550.00000   -14 750 -9.0000   NaN
 10     Ростелеком Курс акций ростелекома      79.85000     +7.02  9.6400   NaN
 11                     RUSAL акции RUSAL       3.40000      -0.0 -0.9000   NaN,
                           Type      Last    Chg.   Chg.%  Time
 0      Серебро Цена на серебро    18.367  -0.257 -1.3800   NaN
 1      Платина Цены на платину   948.400  -9.100 -1.0000   NaN
 2    Палладий Цена на палладий  1632.300  11.250  0.6900   NaN
 3      Медь Цена меди на бирже     2.608  -0.008 -0.3058   NaN
 4  Золото Цена золота на бирже  1519.000  -2.970 -0.2000   NaN,
                                 Type    Last   Chg.  Chg.%  Time
 0               Яндекс Акции яндекса   36.51  -0.05  -0.14   NaN
 1          Microsoft Microsoft Corp.  139.95   0.63   0.45   NaN
 2                  APPLE Акции APPLE  220.72   1.80   0.82   NaN
 3                Toyota Акции Тойоты  120.94   0.00   0.00   NaN
 4   Volkswagen Курс акций Volkswagen  155.20  -3.85  -2.42   NaN
 5       Facebook Цена акций Facebook  187.21   0.46   0.25   NaN
 6          Tesla Цены на акции Тесла  239.22  -2.13  -0.88   NaN
 7          Twiter Цена акций твитера   43.49   0.12   0.28   NaN
 8  Hasbro Цена на акции Hasbro, Inc.  118.04  33.17  39.08   NaN,
                                                 Type       Last     Chg.  \
 0                         EURUSD Курс евро к доллару    1.10000  0.00074
 1   AUDUSD Курс австралийского доллара к доллару сша    0.67941  0.00214
 2         AUDCAD Australian Dollar / Canadian Dollar    0.90061  0.00246
 3                          EURCHF Euro / Swiss Franc    1.08756 -0.00028
 4                  EURGBP Euro / Great Britain Pound    0.88133 -0.00278
 5                         EURJPY Euro / Japanese Yen  118.42700  0.22700
 6          GBPJPY Great Britain Pound / Japanese Yen  134.34000  0.72600
 7                        GBPUSD Курс фунта к доллару    1.24787  0.00505
 8       USDCAD Курс канадского доллара к доллару сша    1.32545 -0.00076
 9              NZDUSD New Zealand Dollar / US Dollar    0.63217  0.00327
 10                    USDCHF US Dollar / Swiss Franc    0.98862 -0.00102
 11         USDCNH Курс китайского юаня к доллару США    7.10666 -0.00263
 12                        USDJPY Курс йены к доллару  107.65400  0.12600

       Chg.%  Time
 0   0.06732   NaN
 1   0.31597   NaN
 2   0.27390   NaN
 3  -0.02574   NaN
 4  -0.31444   NaN
 5   0.19200   NaN
 6   0.54300   NaN
 7   0.40633   NaN
 8  -0.05731   NaN
 9   0.51996   NaN
 10 -0.10307   NaN
 11 -0.03699   NaN
 12  0.11700   NaN  ,
                                                  Type          Last  \
 0                               Bitcoin Курс биткоина    9634.80000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)      65.94200
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     285.85000
 3                                           Dash Dash      86.09000
 4                                       Ripple Ripple       0.26469
 5                                   Ethereum Ethereum     195.09300
 6                                   EmerCoin EmerCoin       0.14005
 7                                   NameCoin NameCoin       0.27400
 8                                   PeerCoin PeerCoin       1.30000
 9                             BTCRUB биткоин в рублях  247059.00000
 10                              BTCEUR биткоин в евро    8735.80000
 11                                        Zcash (ZEC)      44.70800
 12                                          NEO (NEO)       8.56760
 13                                          EOS (EOS)       3.57730
 14                                         TRON (TRX)       0.01565
 15                                             Monero      67.61500
 16                                            Cardano       0.04900
 17                                               IOTA       0.27646
 18                       ETC/USD эфириум классик, ETC       5.79010

          Chg.     Chg.%  Time
 0    -128.170  -1.31300   NaN
 1      -0.461  -0.69400   NaN
 2     -15.310  -5.08400   NaN
 3      -2.460  -2.77800   NaN
 4    -0.01318  -4.74323   NaN
 5      -9.585  -4.68300   NaN
 6     0.00000   0.00000   NaN
 7      -0.051 -15.69200   NaN
 8       +0.16  14.04000   NaN
 9   -3 097.00  -1.24000   NaN
 10   -131.620  -1.48400   NaN
 11     +0.569   1.28900   NaN
 12    -0.0566  -0.65630   NaN
 13    -0.1149  -3.11200   NaN
 14   -0.00032  -2.02216   NaN
 15     -0.942  -1.37400   NaN
 16     -0.000  -0.18300   NaN
 17   -0.00065  -0.23456   NaN
 18    -0.0268  -0.46070   NaN  ,
                                        Type       Last    Chg.  Chg.%  Time
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    0.00   0.00   NaN
 1                      РТС Курс индекса РТС    1361.05   -5.90  -0.43   NaN
 2                                     DAX30   12339.60    2.00   0.00   NaN
 3                       Индекс Dow 30 (DJI)   27003.00    8.00   0.00   NaN
 4                                      FTSE    7137.70 -155.80  -2.10   NaN
 5                                    CAC 40    5279.70    0.00   0.00   NaN
 6                                Nasdaq 100    7869.30    2.28   0.03   NaN
 7                              Russell 2000    1594.50    6.20   0.40   NaN
 8                                   S&P 500    2816.30   10.80   0.40   NaN
 9                                   IBEX 35    9137.40   43.80   0.50   NaN
 10                               Nikkei 225   21779.00   39.00   0.00   NaN
 11                            Euro Stoxx 50    3540.90    1.90   0.10   NaN
 12                                  S&P 500    3000.50    8.40   0.30   NaN
 13                              S&P/ASX 200    6734.80   -0.80  -0.00   NaN
 14                                      MIB   21848.00    5.00   0.00   NaN,
                                Type     Last    Chg.   Chg.%  Time
 0  EURRUB Курс евро к рублю сегодня  70.0094 -0.0336 -0.0480   NaN
 1       USDRUB Курс рубля к доллару  63.6798  0.2068  0.3258   NaN]